*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.accodmain{
width: 600px;
        margin: 20px auto;
        background-color: orange;
        color: #fff;
}

.accodHead{
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}
.accodBody{
    padding: 20px;
    background-color: #fff;
color: #000;
border: 2px solid orange;

}

.accodHead + .accodBody{
    display: none;
}

.accodHead.activ + .accodBody{
    display: block;
}
