.all > div{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: aqua;
    background-color: hot;
}

.skyblue > div{
    background-color: skyblue;
}

.rosybrown > div{
    background-color: rosybrown;
}
.hotpink > div{
    background-color: hotpink;
}
.yellowgreen > div{
    background-color: yellowgreen;
}


/* LogIn Form CSS */


.headerLogIn a:link, .headerLogIn a:visited{
   
    color: black;
    font-size: 22px;
    font-weight: bold;
    color: white !important;
}